.cartContainer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .details {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .removeButton {
    background-color: #ff5555;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .removeButton:hover {
    background-color: #ff0000;
  }
  
  .emptyCart {
    text-align: center;
    font-size: 1.2em;
    color: #555;
  }
  